@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap");
.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

#cards-container-results {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 360px;
  width: 300px;
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 15px #d6d6d6);
}
.card img {
  transition: 1s;
}
.card img:hover {
  transform: scale(1.1);
}

#homepage-character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#homepage-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#homepage-location img {
  content: url("https://static.wikia.nocookie.net/rickandmorty/images/c/c4/Screenshot_2015-10-05_at_1.19.14_PM.png/revision/latest?cb=20151005172134");
  height: 300px;
  object-fit: cover;
  cursor: not-allowed;
}

#homepage-episode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#homepage-episode img {
  content: url("https://static.posters.cz/image/750/posters/rick-morty-group-i35957.jpg");
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  cursor: not-allowed;
}

h3 {
  color: #686868;
  padding: 20px 0;
  text-align: center;
}

.hide-button {
  display: none;
}

#hero {
  background-image: url("./assets/hero.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#search-form #search-text-input {
  padding-right: 20px;
}
#search-form #search-text-input input {
  width: 400px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
}
#search-form .select-header {
  margin: 20px;
}
#search-form .select-header #select-search {
  height: 30px;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}
#search-form #button-submit-search {
  height: 30px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #3db2c9;
  color: #FFFFFF;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.modal-character-container {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 40px;
  color: #4C4B63;
  z-index: 2;
}
.modal-character-container .modal-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal-character-container .modal-information .modal-image {
  box-shadow: 12px 12px 28px -3px rgba(143, 143, 143, 0.72);
}
.modal-character-container .modal-information .modal-image img {
  border-radius: 10px;
}
.modal-character-container .modal-information .detail-character {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal-character-container .modal-information .detail-character .name {
  align-self: center;
  margin: 20px;
}
.modal-character-container .modal-information .detail-character .character-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-character-container .modal-information .detail-character .character-details .status-container {
  padding-left: 50px;
  padding-right: 50px;
  border: solid green 2px;
}

.buttons-wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.buttons-wrapper button {
  height: 30px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #3db2c9;
  color: #FFFFFF;
}
.buttons-wrapper button:hover {
  background-color: #1f7485;
  cursor: pointer;
}

.disabled-cta {
  background-color: #6d898f !important;
  cursor: not-allowed !important;
}

/*# sourceMappingURL=style.css.map */
