// Font styles

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

//mixins
$color_white: #FFFFFF;
$modal_text_color: #4C4B63;
$main_color: #3db2c9;

.hidden {
  display: none;
}

@mixin flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin transition-card-info {
  font-weight: bold;
  opacity: 1;
}

@mixin null-opacity {
  opacity: 0;
  transition: opacity 1s;
}

@mixin main-cta {
  height: 30px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: $main_color;
  color: $color_white;
}

@mixin main-cta-hover {
  background-color:rgb(31, 116, 133);
}
 
@mixin main-cta-disabled {
  background-color:rgb(109, 137, 143) !important;
  cursor: not-allowed !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}


#cards-container {
  padding: 0 10% 0 10%;
  @include flexbox; 
}



.card {
  display: flex;
  flex-direction: column;
  margin: 1px;
  height: 400px;
  width: 300px;
  background-color: rgb(70, 223, 83);
  overflow: hidden;

  img {

  transition: 1s;
  }
  img:hover {
    transform: scale(1.1);
    
  }


  .layer-card {
    text-align: center;
    position: relative;
    
    color: $color_white;

    &:hover {
      background-color: rgba(54, 54, 54, 0.397);

    }
    
    p {
      @include null-opacity;
      padding: 10px;
      
    }
  }
}

.card:hover {
  h3, p {
    @include transition-card-info;
  }
}

#homepage-character {
  @include flexbox;
}

#homepage-location {
  @include flexbox;
  .card {
    
   img {
     content: url(https://static.wikia.nocookie.net/rickandmorty/images/c/c4/Screenshot_2015-10-05_at_1.19.14_PM.png/revision/latest?cb=20151005172134);
   }
    
  }
}
#homepage-episode {
  @include flexbox;
  .card {
   img {
     content: url(https://static.posters.cz/image/750/posters/rick-morty-group-i35957.jpg);
   }
    
  }
}

h3 {
  color: $color_white;
  @include null-opacity;
  margin: 10px;
}

.hide-button {
  display: none;
}

// HERO STYLES
#hero {
  background-image: url("./assets/hero.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  #search-text-input {
    padding-right: 20px;
  }
  #search-text-input input {
    width: 400px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Montserrat";
    font-size: 12px;
  }
  .select-header {
    margin: 20px;
    #select-search {
      height: 30px;
      margin-left: 10px;
      padding: 0 10px;
      border-radius: 5px;
      border: none;
    }
  }
  #button-submit-search {
    @include main-cta()
  }
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


.modal-character-container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top:50%;
  left: 50%;
  color: $modal_text_color;
  z-index: 2;
    .modal-information {
      margin: 20px;
      display: flex;
      justify-content: space-around;

      .modal-image {
      box-shadow: 12px 12px 28px -3px rgba(143, 143, 143, 0.72);
      }

      .detail-character {
        margin-left: 20px;
        .status-container {
          
          border: solid green 2px;
        }
      }
    }
  
}

//See more CTA
.buttons-wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  button {
    @include main-cta();
    &:hover {
      @include main-cta-hover();
      cursor: pointer;
    }
  }
}

.disabled-cta {
  @include main-cta-disabled();
}
