@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap");
nav {
  height: 80px;
  background-color: #3db2c9;
  width: 100vw;
  z-index: 1;
  position: fixed;
}
nav .logo img {
  width: 150px;
  padding: 20px;
}

footer {
  height: 50px;
  background-color: #3db2c9;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  font-family: "Montserrat";
}

#cards-container-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cards-container {
  padding: 0 30px;
}

.cards-container-results {
  padding: 0 30px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 380px;
  width: 300px;
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 15px #d6d6d6);
}
.card .card-image-wrapper {
  display: inline-block;
  overflow: hidden;
}
.card img {
  transition: 1s;
  width: 100%;
}
.card img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -moz-transform: scale(1.5);
  /* Firefox */
  -ms-transform: scale(1.5);
  /* IE 9 */
  -o-transform: scale(1.5);
  /* Opera */
}

#homepage-character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#homepage-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#homepage-location img {
  content: url("https://static.wikia.nocookie.net/rickandmorty/images/c/c4/Screenshot_2015-10-05_at_1.19.14_PM.png/revision/latest?cb=20151005172134");
  height: 300px;
  object-fit: cover;
}

#homepage-episode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#homepage-episode img {
  content: url("https://static.posters.cz/image/750/posters/rick-morty-group-i35957.jpg");
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

h3 {
  color: #686868;
  padding: 30px 0;
  text-align: center;
}

.hide-button {
  display: none;
}

#hero {
  padding-top: 100px;
  background-image: url("./assets/hero.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#search-form #search-text-input {
  padding-right: 20px;
}
#search-form #search-text-input input {
  width: 400px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
}
#search-form .select-header {
  margin: 20px;
}
#search-form .select-header #select-search {
  height: 30px;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}
#search-form #button-submit-search {
  height: 30px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #3db2c9;
  color: #FFFFFF;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.562);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

#close-modal {
  font-size: 25px;
  cursor: pointer;
}

.modal-character-container {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 60px;
  color: #4C4B63;
  z-index: 2;
}
.modal-character-container .modal-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal-character-container .modal-information .modal-image {
  filter: drop-shadow(10px 10px 15px #d6d6d6);
}
.modal-character-container .modal-information .modal-image img {
  border-radius: 10px;
}
.modal-character-container .modal-information .name h2 {
  text-align: center;
  padding: 25px 0;
}
.modal-character-container .modal-information .status-container {
  padding-top: 20px;
}
.modal-character-container .modal-information .status-container .status-details {
  padding-top: 10px;
  text-align: center;
}
.modal-character-container .modal-information .status-container .status-details span {
  font-weight: bold;
}
.modal-character-container .modal-information .status-container .status-details .specie-detail {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-character-container .modal-information .status-container .status-details .specie-detail .human {
  border: 1px solid blue;
  color: blue;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
}
.modal-character-container .modal-information .status-container .status-details .specie-detail .alien {
  border: 1px solid orange;
  color: orange;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
}
.modal-character-container .modal-information .status-container .status-details .specie-detail .other {
  border: 1px solid purple;
  color: purple;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
}

.buttons-wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.buttons-wrapper button {
  height: 30px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #3db2c9;
  color: #FFFFFF;
}
.buttons-wrapper button:hover {
  background-color: #1f7485;
  cursor: pointer;
}

.disabled-cta {
  background-color: #6d898f !important;
  cursor: not-allowed !important;
}

@media (min-device-width: 400px) and (max-width: 900px) {
  .card {
    width: 270px;
    height: 350px;
  }

  .modal-character-container {
    width: 300px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero {
    height: 400px;
    padding: 0;
    background-position: stretch;
  }

  #search-form {
    align-self: center;
  }
  #search-form #search-text-input input {
    flex-direction: column;
    background-color: #FFFFFF;
    width: 240px;
  }
}
@media (max-width: 399px) {
  .card {
    width: 220px;
    height: 320px;
  }

  #hero {
    padding-top: 100px;
    background-image: url(./assets/hero.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }

  #search-form {
    position: relative;
  }
  #search-form #search-text-input input {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 300px;
  }

  .modal-character-container {
    width: 200px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
  }
  .modal-character-container .modal-information .modal-image img {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
